{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}|Modifier {{ vehicule.titre }}
{% endblock title %}

{% block h1 %}
    
{% endblock h1 %}

{% block body %}
    
{{ form_start(formVehicule) }}
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-10 mx-auto">
                    {{ form_row(formVehicule.titre) }}
                </div>
                <div class="col-md-10 mx-auto">
                    {{ form_row(formVehicule.description) }}
                </div>
                <div class="col-md-10 mx-auto"> 
                    {{ form_row(formVehicule.photo) }}
                </div>                
            </div>
{#  #}
            <div class="col-md-5">
                <div class="col-md-10 mx-auto">
                    {{ form_row(formVehicule.marque) }}
                </div>
                <div class="col-md-10 mx-auto">
                    {{ form_row(formVehicule.modele) }}
                </div>
                <div class="col-md-10 mx-auto">
                    {{ form_row(formVehicule.prix_journalier) }}
                </div>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <input type="submit" class="btn btn-success mt-3 col-md-6" value="Ajouter"> 

        </div>
    
        {{ form_end(formVehicule) }}
        
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-success flex-end me-5" href="{{ path("app_vehicule") }}">Retour</a>   
        </div>

{% endblock body %}

