
{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}|Modifier{{ membre.pseudo}}
{% endblock title %}

{% block  h1 %} 

{% endblock h1 %}

{% block body %}

{{ form_start(formMembre) }}
 
 <div class="row">
    <div class="col-md-5">
    <div class="col-md-10 mx-auto">
{{ form_row(formMembre.pseudo) }}
   </div>
   <div class="col-md-10 mx-auto">
{{ form_row(formMembre.nom) }}
   </div>
   <div class="col-md-10 mx-auto">
{{ form_row(formMembre.prenom) }}
    </div>

    <div class="col-md-10 mx-auto">
{{ form_row(formMembre.email) }}
    </div>
    <div class="col-md-10 mx-auto">
{{ form_row(formMembre.civilite) }}
    </div>  

    <div class="col-md-10 mx-auto">
{{ form_row(formMembre.statut) }}
    </div>  

    <div class="col-md-10 mx-auto">
{{ form_row(formMembre.date_enregistrement) }}
    </div>  

{{ form_end(formMembre) }}
        
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-success flex-end me-5" href="{{ path("app_membre") }}">Retour</a>   
    </div>

    <div class ="text center">  
       <input type="submit" class="btn btn-primary" value="Ajouter">
    </div>
   </div> 

{% endblock body %}


